@model PAD.Models.Employee

<form method="post" action="/api/employee/put">
    <!-- Input and Submit elements -->
@Html.EditorFor((x) => x.Id)
@Html.EditorFor((x) => x.Firstname)
@Html.EditorFor((x) => x.Lastname)
@Html.EditorFor((x) => x.Job)
<button type="submit">Save</button>
</form>